/* VARIABLES */
:root {
  --primary: #AE3708;
  --teal: #173D3C;
  --bg-light: #f8f6f5;
  --bg-dark: #221510;
  --text-dark: #181311;
  --white: #ffffff;
  --gray: #6b7280;
  --radius: 12px;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background: var(--bg-light);
  color: var(--text-dark);
}

/* LAYOUT */
.layout {
  display: flex;
  height: 100dvh;
}

/* SIDEBAR */
.sidebar {
  width: 256px;
  background: var(--white);
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #eee;
  overflow-y: auto;
  /* z-index: -20; */

}

.sidebar__brand {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 32px 24px;
  font-size: 1.25rem;
  font-weight: bold;
}

.sidebar__icon {
  background: rgba(174,55,8,.1);
  color: var(--primary);
  padding: 10px;
  border-radius: 10px;
  font-size: 28px;
}

.sidebar__title {
  font-size: 20px;
  font-weight: 700;
  color: var(--teal);
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 16px;
}

.sidebar__link {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem 1rem;
  border-radius: 10px;
  color: var(--gray);
  text-decoration: none;
  transition: background .2s;
  font-size: 0.875rem;
  font-weight: 600;
}

.sidebar__link span {
  cursor: pointer;

}

.sidebar__link:hover {
  background: #f3f3f3;
}

.sidebar__link--active {
  background: rgba(174,55,8,.1);
  color: var(--primary);
  font-weight: 700;
}

.sidebar__user {
  padding: 1rem;
  border-top: 1px solid #eee;
  display: flex;
  align-items: center;
}

.sidebar__btn-perfil{
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
  border: none;
  background-color: transparent;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;

}

.sidebar__btn-perfil:hover {
  background-color: #f3f3f3;
}

.sidebar__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDfFmC8OK9sh1n8CUEtELdkqASvpoFFqWQAouhYn008y4afi1bJYJhAbWL6ocr3ry8sMosNXuBdKEQ4Xosr396hZtP6ZaFuICC-t4XHHC43D4SeE8TORCCeWTg1jTy1v3E0gANzhZXLX7uYmPsNgFn6H7xbwIyKJ2O38xPWS-HuvbdDK5eQJu2AALZyyngWIjHHvc2__vb_wNPYP_XZvsCf2J2hHkxm7_Ayfw0COww9QOtmyH0kQ8p-VSvB5aBodPhyW_EiLkb9hg4L");
  background-size: cover;
}

.sidebar__name {
  font-weight: bold;
  font-size: 0.875rem;
  color: var(--teal);
}

.sidebar__role {
  font-size: 0.75rem;
  color: var(--gray);
}

.sidebar__expand-container{
    margin-left: auto;
}

/* MAIN */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.header__container {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 1.25rem 2rem;
  border-bottom: 1px solid #eee;
  
}

.header__btn {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 8px 5px;
  margin: 0 10px;
  border-radius: var(--radius);
  font-weight: 600;
  cursor: pointer;
  color: var(--gray);
}

.header__btn:last-child {
  display: flex;
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  font-size: 0.875rem;
  font-weight: 600;
  color:var(--teal);
  border: 1px solid transparent;
  align-items: center;
  gap: 0.5rem;

}

@media (max-width: 768px) {
  .header__btn:last-child, .header__separador  {
    display: none;
    
  }
}

.header__btn:last-child span {
  color: var(--primary);
}

.header__btn:first-child:hover, .header__btn:nth-child(2):hover {
  background-color: var(--white);
  color: var(--primary);
}

.header__btn:hover:last-child {
  outline: 1px solid #ddd ;
}

.header__separador {
  width: 1px;
  height: 2rem;
  background-color: var(--gray);
  opacity: .3;
  margin: 0px 1.3rem;
}

/* EXPLORE */
.explore__container-md {
  flex: 1 1 0%;
  overflow-y: auto;
  padding: 1rem;
  padding-bottom: 5rem;
  scroll-behavior: smooth;
}

@media (min-width: 768px) {
  .explore__container-md {
    padding: 2rem;
    padding-bottom: 5rem;
  }
}

.explore__container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.explore {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.explore__title-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.explore__title-container h1 {
  color: var(--teal); 
  font-weight: 700;
  line-height: 1.25;
  font-size: 1.875rem;
  text-wrap: balance;
}

.explore__title-container p {
  color: var(--gray);
  font-size: 1.125rem;
  text-wrap: pretty;
}

@media (min-width: 768px) {
  .explore__title-container h1 {
    font-size: 2.25rem;
  }
}

.explore__search {
  position: relative;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.explore__search-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.explore__search-icon span {
  font-size: 1.5rem;
  line-height: 2rem;
  opacity: .4;
}

.explore__search input  {
  display: block;
  width: 100%;
  padding: 1rem 1rem 1rem 3rem; 
  border-radius: 1rem; 
  border: none;
  background-color: var(--white);
  color: var(--text-dark);
  font-size: 1.125rem; 
  line-height: 1.75rem;
  outline: none;
  transition: box-shadow 0.2s;
}

.explore__search input:focus {
  box-shadow: 0 0 3px 0px var(--primary);
}

.explore__btn {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0.5rem; 
  display: flex;
  align-items: center;
}

.explore__btn button {
  background-color: var(--teal); 
  color: #ffffff;
  padding: 0.5rem 1.5rem;
  border-radius: 0.75rem; 
  font-size: 0.875rem; 
  line-height: 1.25rem;
  font-weight: 700;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 150ms; 
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.explore__btn button:hover {
  opacity: .9;
}



/* FILTERS */
.explore__filters-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

@media (min-width: 1024px) {
  .explore__filters-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.explore__filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.filter {
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  border: 1px solid #ddd9;
  background-color: var(--white);
  color: #4b5563;
  font-size: 0.875rem;
  font-weight: 600;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.filter:hover {
  border: 1px solid var(--primary);
  color: var(--primary);
}

.filter-active {
  background: var(--teal);
  color: white;
  border: 1px solid var(--teal);
}

.filter-active:hover {
  opacity: 0.7;
  background: var(--teal);
  color: white;
  border: 1px solid var(--teal);
}

.filter-division {
  height: 1.5rem;
  width: 1px;
  background-color:var(--gray);
  opacity: 0.3;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: none;
}

@media (min-width: 640px) {
  .filter-division {
    display: block;
  }
}

.explore__filters-LM {
  display: flex;
  align-items: center;
  gap: 0.75rem; 
  background-color: #ffffff;
  padding: 0.25rem;
  border-radius: 9999px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  align-self: flex-end;
}

.explore__filters-LM button {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  padding: 0.375rem 1rem; 
  border-radius: 99px;
  background-color: transparent;
  color: var(--teal);
  font-size: 0.875rem; 
  font-weight: 700;
  border: none;
  cursor: pointer;
  opacity: 0.7;
}

.explore__filters-LM button:hover {
  opacity: 1;
}

.explore__filters-LM .filter-selection {
  background-color: var(--teal); 
  color: var(--white);
  opacity: 1;

}

/* CARDS */
.cards-container {
  display: grid;
  gap: 1.5rem; 
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 768px) {
  .cards-container{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* lg:grid-cols-3 (Laptops: 3 columnas, >= 1024px) */
@media (min-width: 1024px) {
  .cards-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/* xl:grid-cols-4 (Escritorio: 4 columnas, >= 1280px) */
@media (min-width: 1280px) {
  .cards-container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 1rem;
  overflow: hidden; 
  border: 1px solid #f3f4f6;
  transition: box-shadow 700ms linear;
}

.card:hover {
  box-shadow: 0 2px 13px 0 #777;
}

.card__image-container {
  position: relative;
  height: 14rem;
  overflow: hidden;
}

.card__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuA7H4VKyo7LmCGq31MpD67ssRJBZ5GPK6a_k3j68Lamt2JqpPOpeU-M3QYvzR30jp_TbeBsQTV27xrs4e_io-CMxLOFpDoby5XVYOmsGOEiLMTkGIVZt6M2y-kUowyMWd9h4USJucsaEQJvWC1cg0O74nONMzgfYjDtei0-21Nej7BOtF-DnlhB-ca4QuxYGpbC6Ig_BCSDEOJLZtULgAy0f59D_lB1bqXXBP-VGh1j1njc9uDIUjIYw4mVDv_veFfKMHLqSRcf-SA4");
  background-size: cover;
  background-position: center;
  transition-property: transform;
  transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card__image-container button {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); 
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 9999px;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__image-container button:hover {
  background-color: var(--white);
  color: var(--primary);
}

.card__image-container button span {
  font-size: 1.125rem;
  line-height: 1.75rem; 
  display: block;
}

.card:hover .card__image{
  transform: scale(1.1);
}

.card__img-etiqueta {
  position: absolute;
  top: 0.75rem;  
  left: 0.75rem;  
  background-color: var(--teal); 
  color: #ffffff;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  display: inline-block;
  line-height: 1;
}

.card__img-start-container {
  position: absolute;
  bottom: 0.75rem;
  left: 0.75rem; 
  display: flex;
  align-items: center;
  gap: 0.25rem; 
  color: var(--white);
}

.guia-start {
  background-color: var(--white);
  backdrop-filter: blur(4px);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  color: var(--text-dark);
}

.start-icon{
  color: #ff8800; 
  font-size: 0.875rem; 
  fill: currentColor;
  stroke-width: 1;
}

.stars-rank{
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.stars-number {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem;

  /* opacity-80 */
  opacity: 0.8;
}

.card__content {
  padding: 1rem; 
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.card__title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.card__title h3 {
  font-size: 1.125rem; 
  font-weight: 700;
  color: var(--teal); 
  line-height: 1.25;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-duration: 150ms; /* Por defecto en Tailwind */
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .card__title h3 {
  color: var(--primary); 
}

.card__location {
  display: flex;
  align-items: center;
  gap: 0.25rem; 
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #6b7280;
  margin-bottom: 0.75rem;
}

.card__location span {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.card__content-category {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem; 
  margin-bottom: 1rem;
}

.category {
  background-color: #fff7ed; 
  color: var(--primary);          /** depense la categoria cambia el color*/
  font-size: 10px;
  font-weight: 700;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem; 
  display: inline-block;
  line-height: 1;
}

.card__footer {
  padding: 20px 0 0 0;
  margin-top: auto; 
  border-top: 1px solid #ddd9;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__footer-text {
  font-size: 0.75rem; 
  line-height: 1rem;
  color: #9ca3af;
  font-weight: 500;
}

.card__price {
  font-size: 1.125rem; 
  line-height: 1.75rem; 
  font-weight: 700;
  color: var(--teal);
}

.card__footer-person {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  color: var(--gray);
}

.card__guide {
  width: 2rem; 
  height: 2rem;
  border-radius: 9999px;
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBNkZUUEf4iJ1gYP_wxsCzyaoq8CFGbu2828zY876hSK_3PQW7SRW-t6hAIj_Kp2MOJXM_2lk9Zad7vsVRGs0s1XSl-_d_aWtjujUYASR_fezGvv1bPgBByB14f1qHwYR1XYKBaR6fcxz7Sk0omMXBXGUQpIKsfEN_LXBePolZONb9LhocBYp6TIg5MoZ4BW16fDz96BAcFlJqpUxLjhGqwy_BC8awMzy-o-V5BfmwqGzVGC6eEUwlcQQUIgk-RtrTFjVx06Jo5bV3P");
  background-size: cover;
  background-position: center;
  border: 2px solid var(--white);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
