/* VARIABLES */
:root {
  --primary: #AE3708;
  --teal: #173D3C;
  --bg-light: #f8f6f5;
  --bg-dark: #221510;
  --text-dark: #181311;
  --white: #ffffff;
  --gray: #6b7280;
  --radius: 12px;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background: var(--bg-light);
  color: var(--text-dark);
}

/* LAYOUT */
.layout {
  display: flex;
  height: 100dvh;
}

/* SIDEBAR */
.sidebar {
  width: 256px;
  background: var(--white);
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #eee;
  overflow-y: auto;
  /* z-index: -20; */

}

.sidebar__brand {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 32px 24px;
  font-size: 1.25rem;
  font-weight: bold;
}

.sidebar__icon {
  background: rgba(174,55,8,.1);
  color: var(--primary);
  padding: 10px;
  border-radius: 10px;
  font-size: 28px;
}

.sidebar__title {
  font-size: 20px;
  font-weight: 700;
  color: var(--teal);
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 16px;
}

.sidebar__link {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem 1rem;
  border-radius: 10px;
  color: var(--gray);
  text-decoration: none;
  transition: background .2s;
  font-size: 0.875rem;
  font-weight: 600;
}

.sidebar__link span {
  cursor: pointer;

}

.sidebar__link:hover {
  background: #f3f3f3;
}

.sidebar__link--active {
  background: rgba(174,55,8,.1);
  color: var(--primary);
  font-weight: bold;
  
}

.sidebar__link--active span {
  fill: currentColor;           /** No esta rellenando el icono */
 
}

.sidebar__user {
  padding: 1rem;
  border-top: 1px solid #eee;
  display: flex;
  align-items: center;
}

.sidebar__btn-perfil{
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
  border: none;
  background-color: transparent;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;

}

.sidebar__btn-perfil:hover {
  background-color: #f3f3f3;
}

.sidebar__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDfFmC8OK9sh1n8CUEtELdkqASvpoFFqWQAouhYn008y4afi1bJYJhAbWL6ocr3ry8sMosNXuBdKEQ4Xosr396hZtP6ZaFuICC-t4XHHC43D4SeE8TORCCeWTg1jTy1v3E0gANzhZXLX7uYmPsNgFn6H7xbwIyKJ2O38xPWS-HuvbdDK5eQJu2AALZyyngWIjHHvc2__vb_wNPYP_XZvsCf2J2hHkxm7_Ayfw0COww9QOtmyH0kQ8p-VSvB5aBodPhyW_EiLkb9hg4L");
  background-size: cover;
}

.sidebar__name {
  font-weight: bold;
  font-size: 0.875rem;
  color: var(--teal);
}

.sidebar__role {
  font-size: 0.75rem;
  color: var(--gray);
}

.sidebar__expand-container{
    margin-left: auto;
}

/* MAIN */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 2rem;
  border-bottom: 1px solid #eee;
  
}

.header__search-container {
  display: flex;
  flex: 1 1 0%;
  max-width: 32rem;
}

.header__search {
  position: relative;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.header__search-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.header__search-icon span {
  font-size: 1.5rem;
  line-height: 2rem;
  opacity: .4;
}

.header__search input  {
  display: block;
  width: 100%;
  border-radius: 0.75rem; 
  padding: 0.625rem 0.75rem 0.625rem 2.5rem; 
  border: none;
  background-color: var(--white);
  color: var(--text-dark);
  font-size: 0.875rem; 
  line-height: 1.75rem;
  outline: none;
  transition: box-shadow 0.2s;
}

.header__search input:focus {
  box-shadow: 0 0 3px 0px var(--primary);
}

.header__btn-container {
  display: flex;
}

.header__btn {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 8px 5px;
  margin: 0 10px;
  border-radius: var(--radius);
  font-weight: 600;
  cursor: pointer;
  color: var(--gray);
}

.header__btn:last-child {
  display: flex;
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  font-size: 0.875rem;
  font-weight: 600;
  color:var(--teal);
  border: 1px solid transparent;
  align-items: center;
  gap: 0.5rem;

}

@media (max-width: 768px) {
  .header__btn:last-child, .header__separador  {
    display: none;
    
  }
}

.header__btn:last-child span {
  color: var(--primary);
}

.header__btn:first-child:hover, .header__btn:nth-child(2):hover {
  background-color: var(--white);
  color: var(--primary);
}

.header__btn:hover:last-child {
  outline: 1px solid #ddd ;
}

.header__separador {
  width: 1px;
  height: 2rem;
  background-color: var(--gray);
  opacity: .3;
  margin: 0px 1.3rem;
}

/* Favotite */
.favorite__container-md {
  flex: 1 1 0%; 
  overflow-y: auto; 
  padding: 2rem;   
  padding-bottom: 5rem; 
  scroll-behavior: smooth;
}

/* @media (min-width: 768px) {
  .favorite__container-md {
    padding: 2rem;
    padding-bottom: 5rem;
  }
} */

.favorite__container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.favorite {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.favorite__title-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.favorite__title-container h1 {
  color: var(--teal); 
  font-weight: 700;
  line-height: 2.25rem;
  font-size: 1.875rem;
  text-wrap: balance;
}

.favorte__title-container p {
  color: var(--gray);
  font-size: 1.125rem;
  text-wrap: pretty;
}

@media (min-width: 768px) {
  .favorite__title-container h1 {
    font-size: 2.25rem;
  }
}

/* FILTERS */
.favorite__filters-container{
  border-bottom: 1px solid #bbb9;
}

/* @media (min-width: 1024px) {
  .favorite__filters-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
} */

.favorite__filters {
  margin-bottom: -1px;
  display: flex;
  gap: 2rem;
}

.filter-active span{
  color: var(--primary);
}

.filter-active .filter-number {
  background: rgba(174,55,8,.1);
}

.favorite__filters a {
  color: var(--teal);
  font-size: 0.875rem; 
  font-weight: 700;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  white-space: nowrap; 
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  opacity: 0.6;
}

.favorite__filters .filter-active {
  border-bottom: 2px solid  var(--primary);
  opacity: 1;
}

.favorite__filters a:hover {
  opacity: 1;
}

.filter-text {
  font-size: 1.125rem; 
  line-height: 1.75rem;
}

.filter-number {
  background-color: rgba(0, 128, 128, 0.1); 
  color: var(--teal);
  font-size: 0.75rem;
  padding: 0.125rem 0.5rem;
  border-radius: 9999px;
  margin-left: 0.25rem; 
  display: inline-flex;
  align-items: center;
  font-weight: 600;
}

/* CARDS */
.cards-container {
  display: grid;
  gap: 1.5rem; 
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 768px) {
  .cards-container{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* lg:grid-cols-3 (Laptops: 3 columnas, >= 1024px) */
@media (min-width: 1024px) {
  .cards-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/* xl:grid-cols-4 (Escritorio: 4 columnas, >= 1280px) */
@media (min-width: 1280px) {
  .cards-container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 1rem;
  overflow: hidden; 
  border: 1px solid #f3f4f6;
  transition: box-shadow 700ms linear;
}

.card:hover {
  box-shadow: 0 2px 13px 0 #777;
}

.card__image-container {
  position: relative;
  height: 14rem;
  overflow: hidden;
}

.card__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBVVwzL0hj3qjOwJZ612Qb-fQVDWLJKn1ESB5u8V7q9ciXgwxdqIJ-LacekuGSKlJkltE2k3Scdx5r92Kqtjp3jRd2ndJCiL-ga-qWK4bRxHKE2NYDE6FHIFsmXIK3sC5RbZSTbsO2au_VJtKskEk3VbOMFFXm7P9m1enGmOrFo_BqO7TrYjSHus3Go-cbLNn5R4IxThxSnsRI77e_RcMB3YQF6CJMbD3hEYhJAvp9DJQJdgyXt_5u0rbVMqImwGdvYiXKbZ9BAGlLo");
  background-size: cover;
  background-position: center;
  transition-property: transform;
  transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card__image-container button {
  position: absolute;
  top: 0.75rem; 
  right: 0.75rem; 
  height: 2.5rem; 
  width: 2.5rem; 
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 99px;
  background-color: var(--white);
  color: var(--primary);
  z-index: 10;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.card__image-container button:hover {
  background-color: var(--white);
  color: var(--primary);
}

.card__image-container button span {
  font-size: 22px;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.card__image-container button span:hover {
  transform: scale(1.1);
}

.card:hover .card__image{
  transform: scale(1.1);
}

.card__img-etiqueta {
  position: absolute;
  bottom: 0.75rem; 
  left: 0.75rem;
  display: flex;
  gap: 0.5rem; 
  align-items: center;
}

.card__img-etiqueta span {
  background-color: var(--teal);
  color: #ffffff;
  font-size: 10px;
  font-weight: 700;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
}

.card__img-start-container {
  position: absolute;
  top: 0.75rem; 
  left: 0.75rem; 
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(4px); 
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem; 
  display: flex;
  align-items: center;
  gap: 0.25rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.guia-start {
  background-color: var(--white);
  backdrop-filter: blur(4px);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  color: var(--text-dark);
}

.start-icon{
  color: #ff8800; 
  font-size: 0.875rem; 
  fill: currentColor;
  stroke-width: 1;
}

.stars-rank{
  font-size: 0.75rem; 
  line-height: 1rem;
  font-weight: 700;
}

.card__content {
  padding: 1.25rem; 
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}

.card__title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.25rem;
}

.card__title h3 {
  font-size: 1.125rem; 
  line-height: 1.75rem;
  font-weight: 700;
  color: var(--teal);
}

.card__title p {
  font-weight: 700;
  font-size: 0.875rem; 
  line-height: 1.25rem; 
  color: var(--teal);
}

.card__title p span {
  color: #8889;
}

.card__location {
  font-size: 0.75rem; 
  line-height: 1rem;  
  color: #9ca3af; 
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.card__location span {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.card__content p:last-child {
  font-size: 0.875rem; 
  line-height: 1.25rem;
  color: #6b7280; 
  margin-bottom: 1rem; 
  overflow: hidden;
  text-wrap: pretty;
}
